{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'auth_login' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="username_input">{{ form.username.label_tag }}</label>
    <input name="username" type="text" class="form-control" id="username_input" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password_input">{{ form.password.label_tag }}</label>
    <input name="password" type="password" class="form-control" id="password_input" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
  <input type="hidden" name="next" value="{% url 'index' %}"/>
</form>


{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'auth_password_reset' %}">Lost password?</a></p>

{% endblock %}