a.post_creator {
  font-size: large;
}

.posts {
  list-style: none;
}

.post {
  background-color: #fff;
  border: thick;
  cursor: pointer;
}

.post:hover {
  background-color: #f5f8fa;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

div {
  alignment: center;
}

div[id="sidebar"] {
  background-color: #5b80b2;
  border-radius: 10px 25px 10px 25px;
  color: white;
  margin: 10px;
  width: 98.5%;
}

div[id="content"] {
  background-color: #5b80b2;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 98.5%;
  align-self: center;
  align-content: center;
}

div.post {
  border-radius: 3px;
}

input[type="submit"] {
  color: #000;
}

body {
  padding-top: 70px;
}
