<!DOCTYPE html>
<html lang="${request.locale_name}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid twitter application">
    <meta name="author" content="ArturLange">
    <link rel="shortcut icon" href="${request.static_url('twitter:static/pyramid-16x16.png')}">

    <title>Account page</title>

</head>

<body>

<nav>
    <a href=/><span class="font-normal">Home</span></a>
    <a href=/posts><span class="font-normal">Posts</span></a>
    <a href=/hashtags><span class="font-normal">Hashtags</span></a>
    {% if logged_in %}
        <a href=/post><span class="font-normal">New post</span></a>
        <a href=/account/{{ logged_in.id }}><span class="font-normal">@{{ logged_in.username }}</span></a>
        <a href=/logout><span class="font-normal">Logout</span></a>
    {% else %}
        <a href=/register><span class="font-normal">Register</span></a>
        <a href=/login><span class="font-normal">Login</span></a>
    {% endif %}
</nav>
<br>

<h1><a href=/account/{{ user.id }} style="text-decoration:none"><span
        class="font-normal">{{ user.name }}</span> @{{ user.username }}</a></h1>

<form tag="Follow" method="post">
    <div1>
        <input type="hidden" name="follow" value=True>
        <input type="submit" value="Follow"/>
    </div1>
</form>


<br><br><br>


{% for post in user.posts %}
    <div class="content">
        {% if post.creator_id != post.original_creator_id %}
            <p><span class="font-normal">Retweeted by <a
                    href=/account/{{ post.creator_id }} style="text-decoration:none"> {{ post.creator.username }}</a></span>
            </p>
        {% endif %}
        <a href=/account/{{ post.original_creator_id }} style="text-decoration:none"><span
                class="font-normal">{{ post.original_creator.name }}</span> @{{ post.original_creator.username }}</a>
        {{ post.date_created.date() }}

        <p><span class="font-normal">{{ post.content }}</span></p>

        <form tag="Retweet" method="post">
            <input type="hidden" name="post_id" value={{ post.id }}>
            <input type="submit" value="Retweet"/>
        </form>
    </div>
    <br>
{% endfor %}


</body>
</html>
