<!DOCTYPE html>
<html lang="${request.locale_name}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid twitter application">
    <meta name="author" content="ArturLange">
    <link rel="shortcut icon" href="${request.static_url('twitter:static/pyramid-16x16.png')}">

    <title>Posts page</title>

</head>

<body>

{% for post in posts %}
    <div class="content">
        <a href=/account/{{ post[1].id }} style="text-decoration:none"><span
                class="font-normal">{{ post[1].name }}</span> @{{ post[1].username }}</a>

        <p>{{ post[0].date_created.date() }} <span class="font-normal">{{ post[0].content }}</span></p>
    </div>
{% endfor %}

</body>
</html>
