{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" action="{% url 'add_post' %}">
  {% csrf_token %}
  <div class="input-group post-status">
    <input type="text" class="form-control" name="post_content" placeholder="Post something" rows="3">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Post</button>
      </span>
  </div><!-- /input-group -->
</form>
{% endif %}


{% if posts %}
{% include "twitter_app/posts_list.html" %}
{% else %}
<p>No posts are available.</p>
{% endif %}
{% endblock content %}