{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" action="{% url 'add_post' %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="post-content">
      <textarea type="text" class="form-control" name="post_content" placeholder="Post something"
                rows="3"></textarea>
    </div>
  </div>
  <button class="btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-pencil"></span> Post</button>
</form>
{% endif %}


{% if posts %}
{% include "twitter_app/posts_list.html" %}
{% else %}
<p>No posts are available.</p>
{% endif %}
{% endblock content %}