{% extends "base.html" %}

{% block content %}
{% if user_profile %}
<h1><a href="{% url 'profile' pk=user_profile.pk %}">@{{ user_profile }}</a></h1>
{% if user_profile.first_name %}
<label for="first_name" class="col-sm-2 control-label">First name</label>
<p id="first_name">{{ user_profile.first_name }}</p>
{% endif %}
{% if user_profile.last_name %}
<label for="last_name" class="col-sm-2 control-label">Last name</label>
<p id="last_name">{{ user_profile.last_name }}</p>
{% endif %}
<label for="email" class="col-sm-2 control-label">Email</label>
<p id="email">{{ user_profile.email }}</p>
{% else %}
<p>User is unavailable.</p>
{% endif %}

{% if posts %}
<ul class="posts">
  {% for post in posts %}
  <li>
    <div class="post">
      <a class="post_creator" href="{% url 'profile' pk=post.creator.pk %}">{{ post.creator }}</a><br>

      <p class="post_content">{{ post.content }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No posts to show.</p>
{% endif %}
{% endblock content %}